.cart-item {
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item-image {
  width: 30%;
  padding: 0.6rem;
}

.cart-item-image img {
  display: block;
  width: 100%;
  height: 100%;
}
.cart-item-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  padding: 0.8rem 1rem;
}

.cart-item-cta {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cart-item-cost {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.cart-item-price p,
.cart-item-quantity p {
  display: inline;
}

.cart-item-price p::before {
  content: "₹";
  margin-right: 4px;
}

.cart-item-button button {
  background: #001945;
  color: white;
  padding: 0.2rem 0.5rem;
}

.cart-item-button img {
  display: block;
  height: 100%;
  width: 100%;
}
